* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Tahoma;
    font-size: 20px;
    color: orange;
    font-weight: bolder;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

/* reset */

body {
    background-color: wheat;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

/* main */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
    box-shadow: 0 0 10px 0 #ffd9a8;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.navbar li:first-child::after {
    content: '|';
    margin: 0 20px;
}

/* navbar */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
    box-shadow: 0 0 10px 0 #ffd9a8;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

/* footer */